
  
  .Menu{
  
     display: flex;
  
  }
  
  .opcao{
    min-width: 120px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    display: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    
  }
  
  .opcao :hover{
  
      list-style: url("../../imagens/seletor.png");
      color:#134298 ;
      font-size: 21px;
  
  }