li {
  list-style: none;
}

.icones {
  display: flex;
  align-items: center;
}

.icone {
  margin-right: 25px;
  width: 25px;
}

.icone img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
